:root {
  --font-round: 'Crete Round', serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --nav-background: #3c3a39;
  --main-background: #1c1a19;
  --font-white: #fff;
  --font-orange: #ff6b00;
  --font-blue: #091e42;
}

/* Base */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  color: var(--font-white);
  font-family: var(--font-inter);
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--font-white);
}

ul {
  list-style-type: none;
}

.btn{
  font-family: var(--font-inter);
  color: var(--font-white);
  background: var(--font-orange);
  padding: 12px;
  gap: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.btn:hover {
  background: #fff5e1;
  border: 1px solid var(--font-orange);
  color: var(--font-orange);
}

.btn:active {
  background: #e05304;
  color: var(--font-white);
}

.btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

/* Navbar */
.header {
  background: var(--nav-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 18px;
  height: 10vh;
}

.menu-btn {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.open {
  background: url('./images/menu.svg') no-repeat;
  padding: 20px;
}

/* main */
.home {
  height: 600px;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  padding-left: 20px;
  background-color: var(--main-background);
  align-items: flex-start;
  line-height: 24px;
  gap: 12px;
}

.home-header {
  font-family: var(--font-round);
  color: var(--font-orange);
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  margin: 10px 0;
  line-height: 114%;
}

.intro-heading {
  font-family: var(--font-roboto);
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.intro-para {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 12px 0 0;
}

.icons-container {
  display: flex;
  align-items: center;
}

.social-media-icon {
  margin: 5px;
}

.illustration-header {
  background: url('./images/illustration-header-mobile.svg') 90% 40% no-repeat;
  position: absolute;
  right: 0;
  top: 49%;
  width: 150px;
  height: 360px;
}

/* work section */
.work-section-container {
  width: 100%;
  background: var(--font-white);
  color: var(--main-background);
  padding: 20px 1.4rem;
}

.work-title-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  margin-bottom: 80px;
}

.work-title-heading {
  margin-top: 100px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  font-family: var(--font-round);
  font-style: normal;
}

.title-separator {
  width: calc(90% - 0px / 2 + 0.5px);
}

.placeholder-image {
  width: 100%;
}

.work-title-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.post-heading {
  font-size: 32px;
  font-family: var(--font-round);
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  color: var(--font-blue);
}

.post-description {
  color: var(--font-blue);
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.tag-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.tag-items {
  box-sizing: border-box;
  padding: 10px 12px;
  background: var(--font-white);
  border: 1px solid #8993a4;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--font-blue);
}

.card-holder {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
}

.work-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180.45deg, #26262600 0.75%, #262626e6 61.94%), url("./images/backround_placeholder.svg");
  background-size: cover;
  padding-top: 72px;
}

.info-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  color: var(--font-white);
}

.project-heading {
  font-family: var(--font-round);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.card-description {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background-color: #fff3;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.button-section {
  margin-top: 22px;
}

.card-button {
  padding: 13px 0;
  background: var(--font-orange);
  cursor: pointer;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
}

/* About */

.about {
  text-align: center;
  background: var(--main-background);
}

.about-header {
  font-family: var(--font-round);
  color: var(--font-orange);
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  padding-top: 100px;
}

.about-description {
  margin: 20px;
  text-align: left;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about-btn {
  margin: 10px 20px;
  display: flex;
  align-items: center;
}

.about-illustration {
  width: 100%;
  text-align: right;
  padding-top: -80px;
}

.about-line {
  width: 90%;
  border: none;
  margin: 30px auto;
  border-top: 1px solid white;
}

.about-separator {
  width: calc(90% - 0px / 2 + 0.5px);
  border: 1px solid var(--font-white);
}

/* SKILLS */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px 38px;
  gap: 24px;
}

.skill-header {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.skill-list {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
}

/* contact section */
.contact-section {
  display: flex;
  width: 100%;
  justify-content: center;
  background: white;
  padding: 0 24px;
  flex-direction: column;
}

.contact-section h2 {
  font-family: var(--font-inter);
  font-weight: 700;
  color: #172b4d;
  text-align: center;
  font-size: 2em;
  padding-top: 15vh;
  margin-bottom: 10vh;
}

.contact-form {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
}

.contact-form input {
  width: 100%;
  border: none;
  border-bottom: 0.5px solid lightgray;
  padding: 5vh 0 2vh 2vh;
  margin-bottom: 2vh;
}

#error-message {
  color: red;
  display: block;
}

.contact-form textarea {
  width: 98%;
  height: 20vh;
  border: none;
  background: #fbf8f7;
  margin: 2vh 0;
  padding: 2vh 2vh 0;
}

.submit-btn {
  width: 40%;
  height: 9vh;
  background: var(--font-orange);
  padding: 1vh;
  color: var(--font-white);
  font-size: 1em;
  border: none;
  font-family: var(--font-inter);
  font-weight: 700;
  margin-left: 30%;
}

.contact-media {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 0.5px solid lightgray;
  padding-top: 4vh;
  padding-bottom: 4vh;
  color: #505F79;
  background-color: var(--font-white);
  background-image: url("./images/line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

footer {
  width: 100%;
}
