:root {
  --font-round: 'Crete Round', serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --nav-background: #3c3a39;
  --main-background: #1c1a19;
  --font-white: #fff;
  --font-orange: #ff6b00;
  --font-blue: #091e42;
}

/* Base */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  color: var(--font-white);
  font-family: var(--font-inter);
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--font-white);
}

ul {
  list-style-type: none;
}

.flex-center,
.about-btn {
  display: flex;
  align-items: center;
}

.btn {
  font-family: var(--font-inter);
  color: var(--font-white);
  background: var(--font-orange);
  padding: 12px;
  gap: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.btn:hover {
  background: #fff5e1;
  border: 1px solid var(--font-orange);
  color: var(--font-orange);
}

.btn:active {
  background: #e05304;
  color: var(--font-white);
}

.btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

/* Navbar */

.nav {
  background: var(--nav-background);
  justify-content: space-between;
  padding: 12px 20px;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 18px;
}

.nav-elements {
  display: none;
}

.menu-btn {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.open {
  background: url('./images/menu.svg') no-repeat;
  padding: 20px;
}

.close {
  background: url('./images/cross.svg') no-repeat;
  padding: 12px;
}

.mobile-nav-elements.active {
  display: block;
  z-index: 1;
}

.mobile-nav-elements {
  background: var(--nav-background);
  position: absolute;
  right: 0;
  top: 7%;
  width: 100vw;
  height: 100vh;
  display: none;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.mobile-nav-list {
  color: #fff5e1;
  margin: 20px 30px;
  font-size: 1.4rem;
  padding: 20px 0 15px 30px;
  border: none;
  border-bottom: 1px solid #fff5e1;
  display: block;
}

/* main */
.home {
  height: 600px;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  padding-left: 20px;
  background-color: var(--main-background);
  align-items: flex-start;
  line-height: 24px;
  gap: 12px;
}

#logo.hide {
  visibility: hidden;
}

.home-header {
  font-family: var(--font-round);
  color: var(--font-orange);
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  margin: 10px 0;
  line-height: 114%;
}

.intro-heading {
  font-family: var(--font-roboto);
  font-weight: bold;
  font-size: 24px;
  margin: 12px 0;
}

.intro-para {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 12px 0 0;
}

.social-media-icon {
  margin: 5px;
}

.social-media-icon:hover {
  filter: invert(1);
  animation: bounce 1s ease-in-out  infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.illustration-header {
  background: url('./images/illustration-header-mobile.svg') 90% 40% no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  width: 150px;
  height: 360px;
}

/* work section */
.work-section-container {
  width: 100%;
  background: var(--font-white);
  color: var(--main-background);
  padding: 20px 1.4rem;
}

.work-title-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  margin-bottom: 80px;
}

.work-title-heading {
  margin-top: 100px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  font-family: var(--font-round);
  font-style: normal;
}

.title-separator {
  width: calc(90% - 0px / 2 + 0.5px);
}

.placeholder-image {
  width: 100%;
}

.work-title-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.post-heading {
  font-size: 32px;
  font-family: var(--font-round);
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  color: var(--font-blue);
}

.post-description {
  color: var(--font-blue);
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.tag-list {
  flex-direction: row;
  padding: 0;
  gap: 12px;
}

.tag-items {
  box-sizing: border-box;
  padding: 10px 12px;
  background: var(--font-white);
  border: 1px solid #8993a4;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--font-blue);
}

.card-holder {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
}

.work-card {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180.45deg, #26262600 0.75%, #262626e6 61.94%), url("./images/backround_placeholder.svg");
  background-size: cover;
  padding-top: 72px;
  transition: background-image 0.3s ease;
}

.info-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  color: var(--font-white);
}

.project-heading {
  font-family: var(--font-round);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.card-description {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-items {
  padding: 10px 12px;
  background-color: #fff3;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.button-section {
  margin-top: 22px;
}

.card-button {
  padding: 13px 0;
  justify-content: center;
  letter-spacing: 0.03em;
}

/* About */

.about {
  text-align: center;
  background: var(--main-background);
}

.about-header {
  font-family: var(--font-round);
  color: var(--font-orange);
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  padding-top: 100px;
}

.about-description {
  margin: 20px;
  text-align: left;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about-btn {
  margin: 10px 20px;
}

.about-illustration {
  width: 100%;
  text-align: right;
}

.about-line {
  width: 90%;
  border: none;
  margin: 30px auto;
  border-top: 1px solid white;
}

.about-separator {
  width: calc(90% - 0px / 2 + 0.5px);
  border: 1px solid var(--font-white);
}

/* SKILLS */
.skills {
  padding: 120px 0;
  display: grid;
  grid-template-columns: 1fr;
}

.skill-header {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.skill-list {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
}

/* contact section */
.contact-section {
  display: flex;
  width: 100%;
  justify-content: center;
  background: white;
  padding: 0 24px;
  flex-direction: column;
}

.contact-section h2 {
  font-family: var(--font-inter);
  font-weight: 700;
  color: #172b4d;
  text-align: center;
  font-size: 2em;
  padding-top: 15vh;
  margin-bottom: 10vh;
}

.contact-form {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
}

.contact-form input {
  width: 100%;
  border: none;
  border-bottom: 0.5px solid lightgray;
  padding: 5vh 0 2vh 2vh;
  margin-bottom: 2vh;
}

#error-message {
  color: red;
  display: block;
}

.contact-form textarea {
  width: 98%;
  height: 20vh;
  border: none;
  background: #fbf8f7;
  margin: 2vh 0;
  padding: 2vh 2vh 0;
}

.contact-media {
  margin: 0;
  width: 100%;
  justify-content: center;
  border-top: 0.5px solid lightgray;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

@media screen and (min-width: 768px) {
  /* nav section */
  nav {
    justify-content: space-evenly;
    padding: 7px 150px 0 150px;
    margin: 0;
  }

  .nav-elements {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .nav-list {
    margin-left: 20px;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
  }

  .nav-list a {
    border-bottom: 2px solid transparent;
  }

  .nav-list a:hover {
    border-bottom-color: #1ca3cc;
  }

  .mobile-nav-elements,
  #menu-container {
    display: none;
  }

  /* home section */
  .home {
    height: 798px;
  }

  .home-page {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-left: 8rem;
  }

  .icons-container {
    position: absolute;
    left: 36px;
    top: 394px;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: center;
  }

  .illustration-header {
    background-repeat: no-repeat;
    background-image: url('./images/main-illustration.svg');
    position: absolute;
    top: -14%;
    width: 50%;
    height: 100%;
    background-size: 100%;
  }

  /* work */
  .work-section-container {
    margin-top: 100px;
    padding: 0 8%;
  }

  .work-title-card {
    grid-template-columns: 1fr 1fr;
  }

  .work-title-card:nth-child(1) {
    grid-template-columns: auto 1fr auto;
  }

  .work-title-card:nth-child(2) {
    grid-template-columns: 2fr 1fr;
  }

  .work-title-heading {
    margin: 0;
    color: var(--font-blue);
  }

  .title-separator {
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .card-holder {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.4rem;
  }

  .work-card {
    width: 100%;
    position: relative;
    height: 400px;
  }

  .info-holder {
    position: absolute;
    bottom: 0;
  }

  .button-section {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
  }

  .work-card:hover {
    background-image: url('./images/ImgPlaceholder.png');
  }

  .work-card:hover .info-holder {
    opacity: 0;
  }

  .work-card:hover .button-section {
    opacity: 1;
  }

  /* about */

  .about-section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-sub-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 110px 0;
    gap: 24px;
    margin-left: 50px;
  }

  .about-header {
    line-height: 82px;
    padding-left: 25px;
  }

  .about-description {
    font-size: 20px;
    line-height: 32px;
  }

  .about-illustration img {
    display: none;
  }

  .about-illustration {
    margin: 110px 0;
    background: url('./images/about-me.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /* SKILLS */
  .skills {
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 52px;
    padding: 130px 0;
    gap: 152px;
  }

  .skills ul li {
    text-align: start;
  }

  /* contact section */
  .contact-section {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 30px;
  }

  .contact-section h2 {
    font-style: normal;
    line-height: 52px;
    text-align: start;
    color: #262626;
    margin-left: 14px;
  }

  .contact-form {
    width: 90%;
    margin-top: 81px;
    margin-bottom: 54px;
    justify-content: center;
  }

  textarea::placeholder {
    font-style: italic;
    color: var(--main-background);
  }

  .submit-btn {
    padding: 12px;
    gap: 10px;
  }
}

@media screen and (min-width: 992px) {
  /* main */

  .home-header {
    font-size: 72px;
    line-height: 82px;
    font-style: normal;
  }

  .intro-heading {
    font-size: 32px;
    line-height: 44px;
  }

  .intro-para {
    font-style: normal;
    font-size: 1.5rem;
    line-height: 32px;
  }

  .card-holder {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-separator {
    width: calc(85% - 0px / 2 + 0.5px);
  }

  .skills {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 100px;
  }

  .contact-section h2 {
    margin-left: 135px;
  }
}
